body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(164, 235, 235);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-card form label,
.signup-card form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.login-card form input,
.signup-card form input {
  margin: 10px;
  width: 50%;
}

.login-card,
.signup-card {
  background-color: rgb(164, 235, 235);
  text-align: center;
  padding: 20px;
  width: 50%;
  transform: rotateY(180deg);
}

.footer {
  background-color: rgb(164, 235, 235);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flip1 {
  background-color: transparent;
  width: 40%;
  height: 100vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.innerflip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip1:hover .innerflip {
  transform: rotateY(180deg);
}

.flip2,
.login-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip3,
.signup-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.profilepage {
  display: flex;
}

.info-page {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: greenyellow;
}

.info-page img {
  border: red 5px solid;
  width: 25vw;
  height: 50vh;
}

.profile-post {
  border: red 5px solid;
  width: 25vw;
  height: 50vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  border: greenyellow 5px solid;
  padding: 20px;
}
